/*--==================== FUENTES (INICIA) ========================--*/
@font-face {
	font-family: "my_riad_pro_regular";
	src: url(../font/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Titillium-Regular";
	src: url(../font/Titillium-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Titillium-Semibold";
	src: url(../font/Titillium-Semibold.otf) format("opentype");
}
/*--==================== FUENTES (TERMINA) ========================--*/


/*--==================== ESTILOS GENERALES (INICIA)========================--*/
body{
	margin: 0;
	width: 100%;
}
.clear{
	clear: both;
}
/*--==================== ESTILOS GENERALES (TERMINA)========================--*/



/*--==================== ESTILOS CABECERA (INICIA)========================--*/
header{
	font-family: "Titillium-Semibold";
	margin: 0 auto;
	top: 0;
	width: 90%;
}
.posicion{
	position: absolute;
	top: 0;
	width: 90%;
	z-index: 10;
}
.contacto-cabecera{
	color: white;
	float: left;
	font-size: 0.8em;
}
.contacto-cabecera .naranja{
	color: #EAB732;
}
.contacto-cabecera a{
	color: white;
	text-decoration: none;
}
.redes-sociales{
	float: right;
	font-size: 0.8em;
	margin: 1em 0;
}
.redes-sociales a{
	color: white;
	margin: 0 8px;
	text-decoration: none;
}
.menu-principal{
	background-color: rgba(255,255,255, 0.5);
	padding: 12.2px 24.5px;
}
.menu-principal img{
	float: left;
	width: 236px;
}
.menu-principal nav{
	float: right;
}
.menu-principal ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
}
.menu-principal nav a{
	color: #767676;
	display: block;
	margin: 10px 10px;
	text-decoration: none;
}



/*.menu-responsive{
	display: none;
	font-family: "my_riad_pro_regular";
	margin-top: 2%;
	position: relative;
	width: 100%;
}
.menu-responsive label{
	display: block;
	height: 30px;
	width: 30px;
}
.menu-responsive label:hover{
	background-color: rgba(213,133,44,0.7);
	cursor: pointer;
}
.menu-responsive img{
	margin: 0;
	padding: 0;
	width: 30px;
}
#btn-menu{
	display: none;
}
.menu{
	background-color: rgba(44,61,109,0.8);
	left: -500px;
	position: absolute;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	width: 250px;
	z-index: 1000;
}
.menu ul{
	display: flex;
	flex-direction: column;
  	list-style: none;
  	margin: 0;
  	padding: 0;	
}
.menu li a{
	color: white;
 	display: block;
  	font-size: 1em;
  	padding: 15px 20px 15px 20px;
  	text-align: left;
  	text-decoration: none;  	
}
#btn-menu:checked ~ .menu{
	left: 0;
}*/
/*--==================== ESTILOS CABECERA (TERMINA)========================--*/





/*--==================== ESTILOS SLIDER (INICIA)========================--*/
#contenedor-slider{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#slider{
	display: flex;
	width: 300%;
}

#slider section{
	position: relative;
	width: 100%;
}

#slider img{
	display: block;
	height: 100%;
	width: 100%;
}
#slider .texto-slider{
	color: white;
	left: 12%;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 400px;
}
.texto-slider h2{
	font-family: "Titillium-Semibold";
	font-size: 4em;
	margin: 0;
}
.texto-slider p{
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 30px;
	width: 85%;
}
.texto-slider a{
	background-color: #2B325C;
	border-radius: 5px;
	color: white;
	font-family: "Titillium-Regular";
	font-size: 1.5em;
	padding: 0 50px;
	padding-bottom: 2px;
	text-decoration: none;
}

#btn-avanzar, #btn-retroceder{
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
}

#btn-avanzar img, #btn-retroceder img{
	width: 80%;
}

#btn-avanzar{
	right: 5px;
}

#btn-retroceder{
	left: 10px;
}
/*--==================== ESTILOS SLIDER (TERMINA)========================--*/





/*--==================== ESTILOS INDEX (INICIA)========================--*/
.contenedor-caracteristicas{
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
	width: 90%;
}
.contenedor-caracteristicas h2{
	color: #2B325C;
	margin-bottom: 8%;
}
.caracteristicas{
	color: #707070;
	float: left;
    /*padding: 0 2%;*/
    width: 255px;
}
.margen{
	padding-right: 5.33%;
}
.caracteristicas .img1{
	width: 40%;
}
.caracteristicas .img2{
    padding-top: 10%;
	width: 40%;
}
.caracteristicas .img3{
    padding-top: 4%;
	width: 70%;
}
.caracteristicas .img4{
	width: 40%;
}
.caracteristicas h4{
	font-weight: lighter;
	font-size: 1em;
}
.caracteristicas p{
	font-size: 0.8em;
	margin: 0 auto;
	width: 85%;    
}

.contenedor-gris{
	background-color: #EAEAEA;
	padding: 3%;
}
.resumen-nosotros{
	color: #707070;
	font-family: "Titillium-Regular";
	width: 45%;
}
.resumen-nosotros img{
	width: 100%;
}
/*--==================== ESTILOS INDEX (TERMINA)========================--*/







/*--==================== ESTILOS CONTACTO (INICIA)========================--*/
.contenedor-azul{
	background-color: #2B325C;
}
.textos{
	color: white;
	float: left;
	width: 25%;
}
.textos h4{
	font-family: "Titillium-Semibold";
	font-weight: lighter;
	text-decoration: underline;
}
.textos p{
	font-family: "Titillium-Regular";
}
/*--==================== ESTILOS CONTACTO (TERMINA)========================--*/







/*--==================== ESTILOS DE LA SECCION NOSOTROS (INICIA)========================--*/
.contenedor-titulo-secciones{
	position: relative;
	width: 100%;
}
.contenedor-titulo-secciones img{
	width: 100%;
}
.titulo-secciones{
	background-color: rgba(43,50,92,0.6);
	bottom: 4px;
	color: white;
	font-family: "Titillium-Regular";
	padding: 1.5% 0;
	position: absolute;
	width: 100%;
}
.titulo-secciones h2{
	font-size: 2.5em;
	font-weight: lighter;
	margin: 0;
	margin-left: 5%;
}
.contenido-nosotros{
	color: #707070;
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: justify;
	width: 65%;
}
.contenido-nosotros h3{
	font-size: 2em;
    font-weight: lighter;
    margin: 0;
}
.contenido-nosotros .subtitulo{
	margin-top: 0;
    margin-bottom: 5%;
}
.img-nosotros1{
	float: right;
	padding-bottom: 3%;
	padding-left: 3%;
	width: 45%;
}
.img-nosotros2{
	float: left;
	padding-bottom: 3%;
	padding-right: 3%;
	width: 45%;
}
/*--==================== ESTILOS DE LA SECCION NOSOTROS (TERMINA)========================--*/





/*--==================== ESTILOS DE LA SECCION NOTICIAS (INICIA)========================--*/
.noticias-blanco{
	padding: 4% 1%;
	width: 98%;
}
.img-noticia{
	float: left;
	padding-top: 8%;
	width: 30%;
}
.img-noticia img{
	width: 95%;
}
.texto-noticia{
	border-left: 2px solid #707070;
	color: #707070;
	float: left;
	font-family: "Titillium-Regular";
	padding: 3% 0 3% 3%;
	width: 66.5%;
}
.texto-noticia h3{
	font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
}
.texto-noticia .subtitulo{
	margin-top: 0;
}
.texto-noticia .detalles{
	margin-bottom: 3%;
	padding-left: 2%;
}
.negro{
	color: black;
}
.texto-noticia .fa-thumb-tack{
	color: #787878;
	-ms-transform: rotate(40deg); /* IE 9 */
	-moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
.texto-noticia a{
    background-color: #F7F7F7;
    border-radius: 5px;
    color: #707070;
    font-size: 0.8em;
    padding: 10px 10px 10px 0;
    text-decoration: none;
}
.texto-noticia span{	
    background-color: #EBEBEA;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    margin-right: 10px;
    padding: 10px 15px;    
}
.noticias-gris{
	background-color: #EFEFEE;
	padding: 4% 1%;
}
/*--==================== ESTILOS DE LA SECCION NOTICIAS (TERMINA)========================--*/










/*--==================== ESTILOS DE LA SECCION SUTURAS (INICIA)========================--*/
.contenedor-sutura{
	margin-top: -4px;
	position: relative;
	width: 100%;
}
.img-sutura{
	float: left;
	padding-top: 3%;
	width: 40%;
}
.img-sutura img{
	width: 100%;
}
.caracteristicas-sutura{
	background-color: #5E5E5E;
	color: white;
	float: left;
	font-family: "Titillium-Regular";
	padding: 3%;
	width: 54%;
}
.caracteristicas-sutura h3{
	margin: 0;
}
.caracteristicas-sutura .margen-inferior{
	margin-bottom: 3%;
}
.caracteristicas-sutura img{
	border: 6px solid #707070;
	float: right;
	margin: 0 1%;
	width: 25%;
}
.contenedor-nuevos{
	margin-bottom: 1%;
	width: 100%;
}
.contenedor-nuevos h3{
	background-color: #2B325C;
	color: white;
	font-family: "Titillium-Regular";
	font-weight: lighter;
	margin: 0;
	margin-bottom: 5%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}
.nuevos-productos{
	float: left;
	font-family: "Titillium-Regular";
	margin: 2%;
	text-align: center;
	width: 20%;
}
.nuevos-productos img{
	width: 90%;
}
.nuevos-productos a{
	color: #707070;
	text-decoration: none;
}
.nuevos-productos h4{
	font-size: 2em;
	font-weight: lighter;
	margin: 0;
}
.nuevos-productos p{
	margin-top: 0;
}
/*--==================== ESTILOS DE LA SECCION SUTURAS (TERMINA)========================--*/








/*--==================== ESTILOS DE LA SECCION PRODUCTO (INICIA)========================--*/
.contenedor-producto{
    padding: 3% 2%;
	width: 96%;
}
.img-producto{
	float: left;
	width: 48%;
}
.img-producto img{
	width: 100%;
}
.caracteristicas-producto{
	border-left: 2px solid #707070;
	color: #2B325C;
	float: left;
	font-family: "Titillium-Regular";
	padding: 9% 2%;
	width: 47%;
}
.caracteristicas-producto h3{
	font-weight: lighter;
	margin-top: 0;
}
.caracteristicas-producto p{
	text-align: justify;
}
/*--==================== ESTILOS DE LA SECCION PRODUCTO (TERMINA)========================--*/







/*--==================== ESTILOS DE LA SECCION EXPODENT (INICIA)========================--*/
.img-noticia2{
	float: left;
	padding-top: 2%;
	width: 30%;
}
.img-noticia2 img{
	width: 95%;
}
/*--==================== ESTILOS DE LA SECCION EXPODENT (TERMINA)========================--*/









/*--==================== ESTILOS DE LA SECCION CONTACTO (INICIA)========================--*/
.mapa{
	margin-top: -4px;
	width: 100%;
}
.mapa iframe{
	height: 350px;
	width: 100%;
}
.contenedor-datos-contacto{
	padding: 20px 0;
	padding-left: 12%;
	width: 100%;
}
.datos-contacto{
	display: flex;
	float: left;
	width: 20%;
}
.datos-contacto i{
	color: #2B325C;
	margin-right: 10px;
}
.datos-contacto p{
	color: #636462;
	font-family: "Titillium-Semibold";
	font-size: 0.8em;
	line-height: 1.5;
	margin: 0;
}
.datos-contacto a{
	color: #636462;
	text-decoration: none;
}
.contenedor-formulario{
	background-color: #FBFAFA;
	padding: 3% 0;
	width: 100%;
}
.izquierda-formulario{
	float: left;
	margin-right: 2%;
	width: 35%;
}
.texto-formulario{
	float: right;
	font-family: "Titillium-Regular";
	width: 60%;
}
.texto-formulario h3{
	color: #707070;
	font-size: 1.5em;
    font-weight: normal;
	margin: 0;
}
.texto-formulario p{
	color: #636462;
    font-size: 0.8em;
}
.redes-formulario{
	margin-top: 20%;
	text-align: right;
}
.redes-formulario i{
	background-color: #FFFFFF; 
	border: 1px solid #EBEBEA;
	color: #636462;  
	margin: 0 2px;
	padding: 11px 0;
    text-align: center;
  	width: 40px;
}
.derecha-formulario{
	float: left;
	font-family: "Titillium-Regular";
	margin-right: 3%;
	width: 60%;
}
.campos-formulario{
	float: left;
	width: 33%;
}
.derecha-formulario label{
	color: #636462;
	font-size: 0.8em;
}
.campos-formulario input{
	border: 1px solid #ebebea;
	height: 25px;
	width: 90%;
}
.mensaje-formulario{
	width: 100%;
}
.mensaje-formulario textarea{
	border: 1px solid #ebebea;
	height: 150px;
	width: 95.5%;
}
.centrado{
	text-align: center;
}
.error {
	color: red;
	display: none;
	padding-top: 5px;
}

#ajaxsuccess {
	clear:both;
	color: #346b2f;
	display: none;
	font-size:18px;
	font-weight:bold;
	padding-bottom: 10px;
	width: 100%;
}
.boton{
	background-color: #2B325C;
	border: none;
	border-radius: 10px;
	color: white;
	font-family: "Titillium-Regular";
	font-size: 0.8em;
	padding: 8px 30px;
}
/*--==================== ESTILOS DE LA SECCION CONTACTO (TERMINA)========================--*/