/*--==================== FUENTES (INICIA) ========================--*/
@font-face {
	font-family: "my_riad_pro_regular";
	src: url(../font/MyriadPro-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Titillium-Regular";
	src: url(../font/Titillium-Regular.otf) format("opentype");
}
@font-face {
	font-family: "Titillium-Semibold";
	src: url(../font/Titillium-Semibold.otf) format("opentype");
}
/*--==================== FUENTES (TERMINA) ========================--*/


/*--==================== ESTILOS GENERALES (INICIA)========================--*/
body{
	margin: 0;
	width: 100%;
}
.clear{
	clear: both;
}
/*--==================== ESTILOS GENERALES (TERMINA)========================--*/



/*--==================== ESTILOS ERNY EGOAVIL (INICIA)========================--*/



#slider .logos-white{

	width: 280px;
	height: auto;
	margin-bottom: 40px;
	margin:0 auto 20px auto;
}

/*--==================== ESTILOS ERNY EGOAVIL (TERMINA)========================--*/




/*--==================== ESTILOS CABECERA (INICIA)========================--*/
header{
	font-family: "Titillium-Semibold";
	margin: 0 auto;
	top: 0;
	width: 90%;
}
.posicion{
	position: absolute;
	top: 0;
	width: 90%;
	z-index: 10;
}
.contacto-cabecera{
	color: white;
	float: left;
	font-size: 0.8em;
}
.contacto-cabecera .naranja{
	color: #EAB732;
}
.contacto-cabecera a{
	color: white;
	text-decoration: none;
}
.redes-sociales{
	float: right;
	font-size: 0.8em;
	margin: 1em 0;
}
.redes-sociales a{
	color: white;
	margin: 0 8px;
	text-decoration: none;
}
.menu-principal{
	background-color: rgba(255,255,255, 0.5);
	padding: 12.2px 24.5px;
}
.menu-principal img{
	float: left;
	width: 236px;
}
.menu-principal .nav-menu-principal{
	float: right;
}
.menu-principal ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
}
.menu-principal .nav-menu-principal a{
	color: #767676;
	display: block;
	margin: 10px 10px;
	text-decoration: none;
}



.menu-responsive{
	display: none;
	font-family: "Titillium-Semibold";
	position: relative;
	width: 100%;
}
.menu-responsive label{
	display: block;
	height: 30px;
	width: 30px;
}
.menu-responsive label:hover{
	background-color: rgba(44,61,109,0.8);
	cursor: pointer;
}
.menu-responsive img{
	height: 30px;
	margin: 0;
	padding: 0;
	width: 30px;
}
#btn-menu{
	display: none;
}
.menu{
	background-color: rgba(44,61,109,0.8);
	left: -500px;
	position: absolute;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	width: 250px;
	z-index: 1000;
}
.menu ul{
	display: flex;
	flex-direction: column;
  	list-style: none;
  	margin: 0;
  	padding: 0;	
}
.menu li a{
	color: white;
 	display: block;
  	font-size: 1em;
  	padding: 15px 20px 15px 20px;
  	text-align: left;
  	text-decoration: none;  	
}
#btn-menu:checked ~ .menu{
	left: 0;
}
/*--==================== ESTILOS CABECERA (TERMINA)========================--*/





/*--==================== ESTILOS SLIDER (INICIA)========================--*/
#contenedor-slider{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#slider{
	display: flex;
	width: 400%;
}

#slider section{
	position: relative;
	width: 100%;
}

#slider img{
	display: block;
	height: 100%;
	width: 100%;
}
#slider .texto-slider{
	color: white;
	left: 12%;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 400px;
}
.texto-slider h2{
	font-family: "Titillium-Semibold";
	font-size: 3em;
	margin: 0;
}
.texto-slider p{
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 30px;
	width: 85%;
}
.texto-slider a{
	background-color: #2B325C;
	border-radius: 5px;
	color: white;
	font-family: "Titillium-Regular";
	font-size: 1.5em;
	padding: 0 50px;
	padding-bottom: 2px;
	text-decoration: none;
}

#btn-avanzar, #btn-retroceder{
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
}

#btn-avanzar img, #btn-retroceder img{
	width: 80%;
}

#btn-avanzar{
	right: 5px;
}

#btn-retroceder{
	left: 10px;
}
/*--==================== ESTILOS SLIDER (TERMINA)========================--*/








/*--==================== ESTILOS INDEX (INICIA)========================--*/
.contenedor-caracteristicas{
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
	width: 90%;
}
.contenedor-caracteristicas h2{
	color: #2B325C;
	margin-bottom: 8%;
}
.caracteristicas{
	color: #707070;
	float: left;
    /*padding: 0 2%;*/
    width: 255px;
}
.margen{
	padding-right: 5.33%;
}
.caracteristicas .img1{
	width: 40%;
}
.caracteristicas .img2{
    padding-top: 10%;
	width: 40%;
}
.caracteristicas .img3{
    padding-top: 4%;
	width: 70%;
}
.caracteristicas .img4{
	width: 40%;
}
.caracteristicas h4{
	font-weight: lighter;
	font-size: 1em;
}
.caracteristicas p{
	font-size: 0.8em;
	margin: 0 auto;
	width: 85%;    
}

.contenedor-azul2{
	background-color: white;
	width: 100%;
}
.contenedor-azul2 h2{
	color: #767676;;
	font-family: "Titillium-Semibold";
	margin: 0;
	padding: 2% 0 3% 0;
	text-align: center;
}
.contenido-mas-vendidas{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}
.contenido-mas-vendidas a{
	color: #767676;
	float: left;
	font-family: "Titillium-Regular";
	margin: 0 2% 3% 2%;
	text-align: center;
	text-decoration: none;
	width: 21%;
}
.mas-vendidas{
	width: 100%;
}
.fondo-gris{
	background-color: #EAEAEA;
	border-radius: 50%;
	margin: 0 auto;
	width: 80%;
}
.mas-vendidas img{
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.mas-vendidas h3{
	font-size: 1em;
}
.mas-vendidas p{
	font-size: 0.8em;
	text-align: center;
}



.contenedor-gris{
	background-color: #EAEAEA;
	padding: 3%;
}
.resumen-nosotros{
	color: #707070;
	float: left;
	font-family: "Titillium-Regular";
	margin-right: 2%;
	width: 45%;
}
.resumen-nosotros img{
	width: 100%;
}
.resumen-nosotros h4{
	font-weight: lighter;
}
.resumen-nosotros p{
	font-size: 0.8em;
	text-align: justify;
}
/*--==================== ESTILOS INDEX (TERMINA)========================--*/





/*--==================== ESTILOS SLIDER INFO (INICIA)========================--*/
.slider-info{
	float: left;
	position: relative;
	width: 53%;
}
#contenedor-slider-info{
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
}

#slider-info{
	display: flex;
	width: 300%;
}

#slider-info section{
	position: relative;
	width: 100%;
}
.articulos-info{
	float: left;
	width: 48%;
}
.espaciado-articulo-info{
	margin-right: 4%;
}
.articulos-info img{
	width: 100%;
}
.articulos-info .texto-articulo{
	background-color: white;
	color: #6C6E6D;
	font-family: "Titillium-Regular";
	padding: 5% 10%;
	text-align: center;
	width: 80%;
}
.texto-articulo h4{
	font-size: 0.7em;
	margin-bottom: 0;
	text-align: left;
}
.texto-articulo p{
	font-size: 0.6em;
	margin-bottom: 6%;
	text-align: left;
}
.texto-articulo .fa-thumb-tack{
	color: #00315E;
	-ms-transform: rotate(40deg); /* IE 9 */
	-moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
.texto-articulo a{
    background-color: #F9FAF9;
    border-radius: 5px;
    color: #00315E;
    font-size: 0.8em;
    padding: 2px 10px 4px 0;
    text-decoration: none;
}
.texto-articulo span{	
    background-color: #EDEEEC;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    margin-right: 10px;
    padding: 2px 10px 4px 10px;  
}
#slider-info img{
	display: block;
	height: 100%;
	width: 100%;
}
#slider-info .texto-slider2{
	color: white;
	left: 12%;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 400px;
}
.texto-slider2 h2{
	font-family: "Titillium-Semibold";
	font-size: 4em;
	margin: 0;
}
.texto-slider2 p{
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 30px;
	width: 85%;
}
.texto-slider2 a{
	background-color: #2B325C;
	border-radius: 5px;
	color: white;
	font-family: "Titillium-Regular";
	font-size: 1.5em;
	padding: 0 50px;
	padding-bottom: 2px;
	text-decoration: none;
}

#btn-avanzar2, #btn-retroceder2{
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
}

#btn-avanzar2 img, #btn-retroceder2 img{
	width: 100%;
}

#btn-avanzar2{
	right: 0;
	width: 20px;
}

#btn-retroceder2{
	left: 0;
	width: 20px;
}
/*--==================== ESTILOS SLIDER INFO (TERMINA)========================--*/







/*--==================== ESTILOS DEL CONTACTO (INICIA)========================--*/
.contenedor-contacto-desplegable{
	bottom: 0;
	padding-top: 10%;
	position: fixed;
	right: 0;
	width: 30%;
	z-index: 100;
}

#boton-contacto-desplegable{
	cursor: pointer;
	display: flex;
	float: right;
	justify-content: flex-end;
	margin-bottom: 5px;
	margin-right: 10px;
	width: 155px;
}
#boton-contacto-desplegable p{
	background-color: white;
	border-radius: 10px 0 0 10px;
	color: #2B325C;
	font-family: "Titillium-Semibold";
	height: 25px;
	margin: 0;
	padding: 2px 15px 1px 15px;
}
#boton-contacto-desplegable span{
	background-color: #2B325C;
	border-radius: 50%;
	color: white;
	margin-left: -6px;
    margin-top: -20px;
    padding: 15px 17px;
}

#formulario{
	background-color: rgba(43, 50, 92, 0.85);
	border-radius: 20px 20px 0 0;
	display: none;
	width: 100%;
}
#formulario form{
	margin: 0 auto;
	padding: 7% 0 3% 0;
	width: 85%;
}
#formulario form p{
	color: white;
	font-family: "Titillium-Regular";
	font-size: 0.8em;
	margin-top: 0;
	text-align: justify;
}
#formulario a{
	color: white;
	text-decoration: none;
}
#formulario a:hover{
	color: #f59b19;
}
#formulario label{
	color: white;
	font-family: "Titillium-Regular";
	font-size: 0.8em;
	line-height: 2;
}
#formulario input{
	border: none;
	height: 15px;
	width: 100%;
}
#formulario textarea{
	border: none;
	height: 50px;
	width: 99%;
}
#formulario .error{
	color: red;
	display: none;
	font-family: "Titillium-Regular";
	font-size: 0.7em;
	padding-top: 5px;
	text-align: center;
}
#formulario #ajaxsuccess {
	clear:both;
	color: #88DD36;
	display: none;
	font-family: "Titillium-Regular";
	font-size: 0.8em;
	font-weight:bold;
	padding-bottom: 10px;
	width: 100%;
}
#formulario .boton2{
	background-color: #EDEEEC;
	border: none;
	border-radius: 5px;
	color: #00315E;
	float: right;
	font-family: "Titillium-Semibold";
	padding: 5px 15px;
}
/*--==================== ESTILOS DEL CONTACTO (TERMINA)========================--*/







/*--==================== ESTILOS PIE PAGINA (INICIA)========================--*/
.contenedor-azul{
	background-color: #2B325C;
	padding: 2% 4%;
}
.logo-texto{
	float: left;
    margin-right: 20%;
    width: 20%;
}
.logo-texto img{
	width: 95%;
}
.logo-texto p{
	color: white;
	font-family: "Titillium-Regular";
	font-size: 0.7em;
    line-height: 2;
    margin-top: 10%;
}
.textos{
	color: white;
    float: left;
    font-size: 0.8em;
    width: 13%;
}
.textos h4{
	font-family: "Titillium-Semibold";
	font-size: 1.2em;
	font-weight: lighter;
}
.textos p{
	font-family: "Titillium-Regular";
}
.textos a{
	color: white;
	text-decoration: none;
}
.textos a:hover{
	color: #f59b19;
}
.espaciado{
	margin-right: 10%;
}
/*--==================== ESTILOS PIE PAGINA (TERMINA)========================--*/







/*--==================== ESTILOS DE LA SECCION NOSOTROS (INICIA)========================--*/
.contenedor-titulo-secciones{
	position: relative;
	width: 100%;
}
.contenedor-titulo-secciones img{
	height: 300px;
	width: 100%;
}
.titulo-secciones{
	background-color: rgba(43,50,92,0.6);
	bottom: 4px;
	color: white;
	font-family: "Titillium-Regular";
	padding: 1.5% 0;
	position: absolute;
	width: 100%;
}
.titulo-secciones h2{
	font-size: 2.5em;
	font-weight: lighter;
	margin: 0;
	margin-left: 5%;
}
.contenido-nosotros{
	color: #707070;
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: justify;
	width: 65%;
}
.contenido-nosotros h3{
	font-size: 2em;
    font-weight: lighter;
    margin: 0;
}
.contenido-nosotros .subtitulo{
	margin-top: 0;
    margin-bottom: 5%;
}
.img-nosotros1{
	float: right;
	padding-bottom: 10%;
	padding-left: 10%;
	width: 45%;
}
.img-nosotros2{
	float: left;
	padding-bottom: 10%;
	padding-right: 10%;
	width: 45%;
}
/*--==================== ESTILOS DE LA SECCION NOSOTROS (TERMINA)========================--*/





/*--==================== ESTILOS DE LA SECCION NOTICIAS (INICIA)========================--*/
.noticias-blanco{
	padding: 4% 1%;
	width: 98%;
}
.img-noticia{
	float: left;
	padding-top: 3%;
	width: 30%;
}
.img-noticia img{
	width: 95%;
}
.texto-noticia{
	border-left: 2px solid #707070;
	color: #707070;
	float: left;
	font-family: "Titillium-Regular";
	padding: 3% 0 3% 3%;
	width: 66.5%;
}
.texto-noticia h3{
	font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
}
.texto-noticia .subtitulo{
	margin-top: 0;
}
.texto-noticia .detalles{
	margin-bottom: 3%;
	padding-left: 2%;
}
.negro{
	color: black;
}
.texto-noticia .fa-thumb-tack{
	color: #787878;
	-ms-transform: rotate(40deg); /* IE 9 */
	-moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
.texto-noticia a{
    background-color: #F7F7F7;
    border-radius: 5px;
    color: #707070;
    font-size: 0.8em;
    padding: 10px 10px 10px 0;
    text-decoration: none;
}
.texto-noticia span{	
    background-color: #EBEBEA;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
    margin-right: 10px;
    padding: 10px 15px;    
}
.noticias-gris{
	background-color: #EFEFEE;
	padding: 4% 1%;
}
/*--==================== ESTILOS DE LA SECCION NOTICIAS (TERMINA)========================--*/










/*--==================== ESTILOS DE LA SECCION SUTURAS (INICIA)========================--*/
.contenedor-sutura{
	margin-top: -4px;
	position: relative;
	width: 100%;
}
.img-sutura{
	float: left;
	padding-top: 3%;
	width: 40%;
}
.img-sutura img{
	width: 100%;
}
.caracteristicas-sutura{
	background-color: #5E5E5E;
	color: white;
	float: left;
	font-family: "Titillium-Regular";
	padding: 3%;
	width: 54%;
}
.caracteristicas-sutura h3{
	margin: 0;
}
.caracteristicas-sutura .margen-inferior{
	margin-bottom: 3%;
}
.caracteristicas-sutura img{
	border: 6px solid #707070;
	float: right;
	margin: 0 1%;
	width: 25%;
}
.margen-superior{
	margin-top: -5px;
}
.contenedor-nuevos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1%;
	width: 100%;
}
.contenedor-nuevos h3{
	background-color: #2B325C;
	color: white;
	font-family: "Titillium-Regular";
	font-weight: lighter;
	margin: 0;
	margin-bottom: 2%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}
.contenedor-nuevos p{
	color: #767676;
	font-family: "Titillium-Regular";
	margin: 0 auto;
	margin-bottom: 2%;
	text-align: justify;
	width: 80%;
}
.boton-mas{
	border: 2px solid #2B325C;
	color: #2B325C;
	float: right;
	font-family: "Titillium-Semibold";
	margin-right: 5%;
	text-decoration: none;
	padding: 3px 10px;
}
.boton-mas:hover{
	background-color: #2B325C;
	color: white;
}
.nuevos-productos{
	float: left;
	font-family: "Titillium-Regular";
	margin: 2%;
	text-align: center;
	width: 20%;
}
.fondo-gris2{
	background-color: #EAEAEA;
	border-radius: 50%;
	margin: 0 auto;
	width: 90%;
}
.nuevos-productos img{
	width: 100%;
}
.nuevos-productos a{
	color: #707070;
	text-decoration: none;
}
.nuevos-productos h4{
	font-size: 2em;
	font-weight: lighter;
	margin: 0;
}
.nuevos-productos p{
	margin-top: 0;
	text-align: center;
}
/*--==================== ESTILOS DE LA SECCION SUTURAS (TERMINA)========================--*/








/*--==================== ESTILOS DE LA SECCION PRODUCTO (INICIA)========================--*/
.contenedor-producto{
	background-color: #EAEAEA;
	margin-top: -5px;
    padding: 3% 5%;
	width: 90%;
}
.img-producto{
	float: left;
	width: 45%;
}
.img-producto img{
	padding-top: 5%;
	width: 90%;
}
.caracteristicas-producto{
	color: #2B325C;
	float: left;
	font-family: "Titillium-Regular";
	padding: 0 0 5% 0;
	width: 55%;
}
.caracteristicas-producto h3{
	font-size: 1.8em;
	font-weight: lighter;
	margin-bottom: 5%;
	margin-top: 0;
}
.caracteristicas-producto h4{
	line-height: 2;
	margin: 0;
}
.linea1{
	background-color: #2B325C;
	height: 2px;
	width: 52px;
}
.linea2{
	background-color: #2B325C;
	height: 2px;
	width: 100px;
}
.linea3{
	background-color: #2B325C;
	height: 2px;
	width: 170px;
}
.linea4{
	background-color: #2B325C;
	height: 2px;
	width: 180px;
}
.caracteristicas-producto p{
	margin-bottom: 15%;
	text-align: justify;
}
.caracteristicas-producto ul{
	margin-bottom: 15%;
	padding-left: 20px;
	text-align: justify;
}
.izq-producto{
	float: left;
	margin-right: 8%;
	width: 42%;
}
.der-producto{
	border-left: 2px solid #2B325C;
	float: left;
	padding-left: 8%;
	width: 41%;
}
/*--==================== ESTILOS DE LA SECCION PRODUCTO (TERMINA)========================--*/







/*--==================== ESTILOS DE LA SECCION EXPODENT (INICIA)========================--*/
.img-noticia2{
	border-right: 2px solid #707070;
	float: left;
	padding: 2% 0;
	width: 30%;
}
.img-noticia2 img{
	width: 95%;
}
.texto-noticia2{
	color: #707070;
	float: left;
	font-family: "Titillium-Regular";
	padding: 3% 0 3% 3%;
	width: 66.5%;
}
.texto-noticia2 h3{
	font-size: 1.5em;
    font-weight: lighter;
    margin: 0;
}
.texto-noticia2 .subtitulo{
	margin-top: 0;
}
.texto-noticia2 .detalles{
	margin-bottom: 3%;
	padding-left: 2%;
}
.texto-noticia2 a{
	color: #707070;
	text-decoration: none;
}
/*--==================== ESTILOS DE LA SECCION EXPODENT (TERMINA)========================--*/









/*--==================== ESTILOS DE LA SECCION CONTACTO (INICIA)========================--*/
.mapa{
	margin-top: -4px;
	width: 100%;
}
.mapa iframe{
	border: none;
	height: 350px;
	width: 100%;
}
.contenedor-datos-contacto{
	padding: 20px 0;
	padding-left: 12%;
	width: 88%;
}
.datos-contacto{
	display: flex;
	float: left;
	width: 20%;
}
.datos-contacto i{
	color: #2B325C;
	margin-right: 10px;
}
.datos-contacto p{
	color: #636462;
	font-family: "Titillium-Semibold";
	font-size: 0.8em;
	line-height: 1.5;
	margin: 0;
}
.datos-contacto a{
	color: #636462;
	text-decoration: none;
}
.datos-contacto a:hover{
	color: #f59b19;
}
.contenedor-formulario{
	background-color: #FBFAFA;
	padding: 3% 0;
	width: 100%;
}
.izquierda-formulario{
	float: left;
	margin-right: 2%;
	width: 35%;
}
.texto-formulario{
	float: right;
	font-family: "Titillium-Regular";
	width: 60%;
}
.texto-formulario h3{
	color: #707070;
	font-size: 1.5em;
    font-weight: normal;
	margin: 0;
}
.texto-formulario p{
	color: #636462;
    font-size: 0.8em;
}
.redes-formulario{
	margin-top: 20%;
	text-align: right;
}
.redes-formulario i{
	background-color: #FFFFFF; 
	border: 1px solid #EBEBEA;
	color: #636462;  
	margin: 0 2px;
	padding: 11px 0;
    text-align: center;
  	width: 40px;
}
.derecha-formulario{
	float: left;
	font-family: "Titillium-Regular";
	margin-right: 3%;
	width: 60%;
}
.campos-formulario{
	float: left;
	width: 33%;
}
.derecha-formulario label{
	color: #636462;
	font-size: 0.8em;
	line-height: 2.5;
}
.campos-formulario input{
	border: 1px solid #ebebea;
	height: 25px;
	width: 90%;
}
.mensaje-formulario{
	width: 100%;
}
.mensaje-formulario textarea{
	border: 1px solid #ebebea;
	height: 150px;
	width: 95.5%;
}
.centrado{
	text-align: center;
}
.error {
	color: red;
	display: none;
	padding-top: 5px;
}

#ajaxsuccess {
	clear:both;
	color: #346b2f;
	display: none;
	font-size:18px;
	font-weight:bold;
	padding-bottom: 10px;
	width: 100%;
}
.boton{
	background-color: #2B325C;
	border: none;
	border-radius: 10px;
	color: white;
	font-family: "Titillium-Regular";
	font-size: 0.8em;
	padding: 8px 30px;
}
/*--==================== ESTILOS DE LA SECCION CONTACTO (TERMINA)========================--*/










/*--==================== ESTILOS DEL RESPONSIVE (TERMINA)========================--*/
@media(max-width: 1300px){
	.img-noticia2{
		padding: 5% 0;
	}
}

@media(max-width: 1200px){
	.contenedor-producto{
		padding: 3%;
		width: 94%;
	}
	.img-producto{
		width: 40%;
	}
	.caracteristicas-producto{
		width: 60%;
	}
}
@media(max-width: 1150px){
	.der-producto{
		padding-bottom: 8%;
		padding-left: 6%;
		width: 43%;
	}
	.izq-producto{
		margin-right: 6%;
		width: 44%;
	}
}
@media(max-width: 1100px){
	.img-nosotros1{
		padding-bottom: 3%;
    	padding-left: 5%;
	}
	.img-noticia2{
		padding: 10% 0;
	}
	.img-noticia{
		padding-top: 5%;
	}
}
@media(max-width: 980px){
	.contenedor-datos-contacto{
		padding: 2% 5%;
		width: 90%;
	}
	.datos-contacto{
		width: 50%;
	}
}
@media(max-width: 950px){
	.izq-producto{
		margin-right: 4%;
		width: 46%;
	}
	.der-producto{
		padding-left: 4%;
		width: 45%;
	}
	.texto-formulario{
		float: left;
		padding-left: 20%;
		width: 80%;
	}
}
@media(max-width: 900px){
	.nuevos-productos{
		width: 25%;
	}
	.img-producto{
		text-align: center;
		width: 100%;
	}
	.img-producto img{
    	margin-top: -70px;
    	padding-top: 0;
    	width: 50%;
	}
	.caracteristicas-producto{
		margin-top: -60px;
		width: 100%;
	}
	.caracteristicas-producto h3{
		margin-bottom: 3%;
		text-align: center;
	}
	.izq-producto{
		margin-right: 0;
		padding: 0 5%;
		width: 40%;
	}
	.der-producto{
		padding: 0 5%;
    	width: 39%;
	}
	.img-noticia{
		padding-top: 7%;
	}
}
@media(max-width: 850px){
	.img-noticia2{
		padding: 17% 0;
	}
}
@media(max-width: 830px){
	.menu-principal{
		background-color: transparent;
		display: flex;
	}
	.menu-principal img{
		float: none;
	}
	.nav-menu-principal{
		display: none;
	}
	.menu-responsive{
		display: block;
		margin-top: 6%;
		width: auto;
	}
	.menu-responsive label{
		background-color: rgba(0,0,0,0.4);
	}
	.logo{
		margin: 0 auto;
	}
	.contenido-mas-vendidas a{
		width: 29%;
	}
}
@media(max-width: 770px){
	.contenedor-contacto-desplegable{
	 	width: 60%;
	 }
}
@media(max-width: 750px){
	.menu-responsive{
		margin-top: 7%;
	}
	.img-producto img{
		margin-top: -80px;
		width: 60%;
	}
	.img-noticia{
		padding-top: 10%;
	}
}
@media(max-width: 720px){
	 .resumen-nosotros{
	 	margin-bottom: 3%;
	 	margin-right: 0;
	 	width: 100%;
	 }
	 .slider-info{
	 	width: 100%;
	 }
	 .espaciado{
	 	margin-right: 1%;
	 }
	 .logo-texto{
	 	margin-right: 10%;
	 	width: 30%;
	 }
	 .textos{
	 	width: 19%;
	 }
	 .contenido-nosotros{
	 	width: 75%;
	 }
	 .img-noticia{
	 	padding-top: 12%;
	 }
}
@media(max-width: 700px){
	.der-producto{
		padding-bottom: 7%;
	}
	.img-noticia2{
		border-right: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.img-noticia2 img{
		width: 40%;
	}
	.texto-noticia2{
		padding: 3% 10%;
		width: 80%;
	}
	.izquierda-formulario{
		margin-right: 0;
		width: 100%;
	}
	.texto-formulario{
		padding: 0 5%;
		width: 90%;
	}
	.redes-formulario{
		margin-top: 0;
	}
	.derecha-formulario{
		margin-right: 0;
		width: 100%;
	}
	.derecha-formulario form{
		margin: 0 auto;
	    margin-bottom: 3%;
	    margin-top: 5%;
	    width: 70%;
	}
}
@media(max-width: 690px){
	#slider .texto-slider{
		top: 35%;
	}
}
@media(max-width: 650px){
	.nuevos-productos{
		width: 40%;
	}
	.contenedor-nuevos p{
		margin-bottom: 3%;
	}
	.menu-responsive{
		margin-top: 8%;
	}
	.img-noticia{
		padding-top: 14%;
	}
}
@media(max-width: 600px){
	#slider .texto-slider{
		top: 50%;
	}
	.texto-slider h2{
		font-size: 2em;
	}
	#slider .logos-white{
		margin-bottom: 10px;
		width: 150px;
	}
	.contenido-nosotros{
		width: 80%;
	}
	.img-nosotros1{
		padding-bottom: 3%;
		width: 50%;
	}
	.der-producto{
		padding-bottom: 10%;
	}
	.campos-formulario, .campos-formulario input{
		width: 100%;
	}
	.mensaje-formulario textarea{
		width: 99%;
	}
	.error{
		text-align: center;
	}
}
@media(max-width: 565px){
	.contacto-cabecera{
		display: none;
	}
	.redes-sociales{
		margin-bottom: 0;
	}
	.menu-responsive{
		margin-top: 9%;
	}
}
@media(max-width: 550px){
	.contenido-mas-vendidas a{
		width: 46%;
	}
	.logo-texto{
		float: none;
	    margin: 0 auto;
	    margin-top: 2%;
	    width: 90%;
	}
	.logo-texto img{
		width: 45%;
	}
	.logo-texto p{
		margin-top: 3%;
	}
	.textos{
		width: 30%;
	}
	.espaciado{
		margin-right: 5%;
	}
	.img-noticia{
		padding-top: 0;
		text-align: center;
		width: 100%;
	}
	.img-noticia img{
		width: 70%;
	}
	.texto-noticia{
		border-left: none;
		padding: 0 5% 3% 5%;
		width: 90%;
	}
}
@media(max-width: 520px){
	.menu-responsive{
		margin-top: 11%;
	}
}
@media(max-width: 500px){
	#btn-avanzar, #btn-retroceder{
		height: 20px;
		width: 20px;
	}
	.img-producto img{
		width: 80%;
	}
	.der-producto{
		padding-bottom: 23%;
	}
	.img-noticia2 img{
		width: 50%;
	}
}
@media(max-width: 475px){
	#slider .texto-slider{
		left: 5%;
	}
}
@media(max-width: 450px){
	.contenido-mas-vendidas a{
		float: none;
		margin: 0 auto;
		margin-bottom: 5%;
		width: 60%;
	}
	.nuevos-productos{
		width: 60%;
	}
	.contenedor-nuevos p{
		margin-bottom: 4%;
	}
	.menu-responsive{
		margin-top: 13%;
	}
	.img-producto img{
		width: 95%;
	}
	.izq-producto{
		padding: 0 10%;
		width: 80%;
	}
	.der-producto{
		border-left: 0;
		padding: 0 10%;
		width: 80%;
	}
	.texto-formulario{
		float: none;
		margin: 0 auto;
		padding: 0;
		width: 80%;

	}
}
@media(max-width: 430px){
	#slider .texto-slider{
		display: none;
	}
}
@media(max-width: 400px){
	#btn-avanzar, #btn-retroceder{
		top: 70%;
	}
	.textos{
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 60%;
	}
	.espaciado{
		margin: 0 auto;
	}
	.contenido-mas-vendidas a{
		width: 75%;
	}
	.img-nosotros1{
		padding-bottom: 5%;
		padding-left: 0;
		width: 100%;
	}
	.menu-responsive{
		margin-top: 15%;
	}
	.menu-principal{
		padding: 12.2px 2%;
	}
	.img-noticia2 img{
		width: 60%;
	}
	.datos-contacto{
		float: none;
		margin: 0 auto;
		margin-bottom: 3%;
		width: 55%;
	}
}
@media(max-width: 350px){
	.logo img{
		width: 220px;
	}
	.logo-texto img{
		width: 60%;
	}
	.nuevos-productos{
		width: 65%;
	}
	.img-producto img{
		margin-top: -65px;
	}
	.caracteristicas-producto{
		margin-top: -45px;
	}
	.img-noticia2 img{
		width: 65%;
	}
	.img-noticia img{
		width: 80%;
	}
	#btn-avanzar, #btn-retroceder{
		top: 75%;
	}
}
/*--==================== ESTILOS DEL RESPONSIVE (INICIA)========================--*/